<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
<div class="text-center">
    <img src="/assets/nasa.jpg" alt="nasa" width="250" height="250" class="img">
</div>
<div class="text-center">
    <h3>
        Please Choose a password
    </h3>
    <p>
        Register
    </p>
</div>
<div id="errors" class="text-center">
    <% if(error.hasError) { %>
        <p class="text-danger"> <%=error.error%></p>
    <% } %>
</div>
<form class="form-control" action="/users/register-passwords" method="POST">
    <div class="user-form">
        <input class="input" type="password" name="password" id="password" size="30" required placeholder="Password" minlength="3" maxlength="32">
        <input class="input" type="password" name="confirm_password" id="confirm_password" size="30" required placeholder="confirm password" minlength="3" maxlength="32" >
        <div class="text-center">
        <button class="btn btn-secondary" type="button" onclick="window.location.href='/users/register'">back</button>
        <button class="btn btn-primary" type="submit" id="register">register</button>
        </div>
    </div>
</form>
<p class="text-center">
    &copy;MB &copy;SG
</p>
<p class="text-center">
    already registered? go to <a href="/">login</a> page
</p>

<%- include('includes/end.ejs') %>